@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

* {
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
body{
    font: 400 14px Roboto, sans-serif;
    overflow: hidden;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    flex-direction: row;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.notification{
    font-weight: 500;
    width:300px;
}

.notification h4,h6{
    text-align: center;
    word-wrap: break-word;
}

.showOnMobile{
    font-weight: 500;
    visibility: hidden;
}
@media (max-width:768px){
    .showOnMobile{
        visibility: visible;
    }
}

.hideOnMobile{
    font-weight: 500;
    display: block;
}
@media (max-width:768px){
    .hideOnMobile{
        display: none;
    }
}

.text-break-default{
    display: inline-block;
    word-break: break-word;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

input[type=checkbox]  {
    position: relative;
    appearance: none; 
    outline: none;
    width: 40px; 
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 15px; 
    transition-duration: 200ms;
}
input[type=checkbox]:after {
    content: "";
    position: absolute;
    width: 20px; 
    height: 20px;
    background-color: transparent;
    border-radius: 15px; 
    box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0);
    }
    input[type=checkbox]:checked {
        border-color: #4ED164;
        box-shadow: inset 20px 0 0 0 #4ED164;
        }
        input[type=checkbox]:checked:after {
            left: 20px;
            box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
            }   

            