.search-address-div{
    position: absolute;
    z-index: 3;
    right:55px;
    top:10px;
    background-color: white;
    border-radius: 10px;
}
.search-address-div input {
    width: 300px;
    margin: 5px;
    padding-left: 10px;
    text-indent: 2px;
}
.search-address-div button {
    padding:4px 8px 6px 8px;
    border-radius: 10px;
}
.search-address-div button:hover{
    background-color: #c7c7c7;
}
.filter-menu{
    position: absolute;
    top:50px;
    z-index: 3;
    padding: 5px;
    right:55px;
}

@media (max-width: 768px) { 
    .search-address-div input {
        width: 210px;
    }
}